<%- include('./partials/header.ejs')%>
    
    <div style="padding-left:16px">
        <h2>Notifications</h2>
        <%if(user){%>
            <%if(appointments.length > 0){
                for(let i = 0; i < appointments.length; i++){%>
                    <div class="<%=appointments[i].priority%>">
                        <a href="/<%= appointments[i]._id%>"><p><%= appointments[i].title%></p></a>
                    </div>
                <%}                
            } else {%>
                <p>No upcoming appointments</p>
            <%}%>
        <%} else {%>
            <p>Please login to see appointments</p>
        <%}%>
        
    </div>
    <%- include('./partials/footer.ejs')%>